body {
  background-color:#8ca8ab;
  color: white;
}

.title {
  font-size: 30px;
  font-weight: bold;
}
.move-icon{
  height: 80px;
}
.move-button{
  background-color: transparent;
  border: 3px solid black; 
 width: 120px;
 height: 120px;
 margin-right: 10px;
 cursor: pointer;
}
.result{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}
.score{
  margin-top: 60px;
}
.reset-score-button {
  border: none;
  padding: 8px 15px;
  cursor: pointer;
}